/* loading icon */
@-webkit-keyframes spin {
    0%   {-webkit-transform: rotate(0deg)}
    100% {-webkit-transform: rotate(360deg)}
}
.glyphicon-loading {
  -webkit-animation: spin 1s infinite linear;
}

.navbar .avatar {
  width: 25px;
  height: 25px;
  float: left;
  margin-top: -2px;
  margin-right: 5px;
}

#login-form {
    width: 30%;
    margin: 100px auto;
}


#raw-contianer {
    margin-right: 20px;
}
#raw-contianer,
#parsed-contianer{
    padding: 2%;
    vertical-align: top;
    width: 45%;
    display: inline-block;
    border: 1px solid #eee;
    height: 400px;
    overflow: scroll;
}
